<h1>NgxPushape - Test app</h1>
<p>This libray is a wrapper for PushapeJS implementation.</p>

<div
  id="notification-info"
  class="alert alert-success w-100">
  Notifications are enable
</div>

<section>
  <h2>Library Flow</h2>
  <ul>
    <li>Initialize firebase app with `initializeFirebase` function</li>
    <li>Initialize firebase service worker with `initializeFirebaseServiveWorker` function</li>
    <li>Check notification permission with `hasNotificationPermission` function</li>
    <li>If notifications are not allow ask for them, obtain and save **token** to send in Pushape API subscribe</li>
    <li>Prepare service workers listerners with `initializeSwListeners`</li>
    <li>Register to Pushape with `PushapeJS.initSimplePushape`</li>
  </ul>
</section>

<section>
  <h2>Example Flow</h2>
  <p>On page load</p>
  <ul>
    <li>Initialize firebase app</li>
    <li>
      Initialize firebase service worker
    </li>
    <li>
      If notifications are allow initialize service worker listeners
    </li>
  </ul>
  <p>
    On "Enable notification" click (if notifications are not enable)
  </p>
  <ul>
    <li>Check permissions and ask for them</li>
    <li>
      Register to Pushape service if "pushape-id" is not set
    </li>
  </ul>
  <p>On "Unregister Pushape"</p>
  <ul>
    <li>Unregister from Pushape service</li>
  </ul>
  <p>On "Register Pushape"</p>
  <ul>
    <li>Register to Pushape service</li>
  </ul>
</section>

<section>
  <h2>Info</h2>
  <p>
    UUID:
    <strong>
      <span id="uuid">{{ pushapeService.uuid || 'No device token found' }}</span>
    </strong>
  </p>
  <p>
    Pushape id:
    <strong>
      <span id="pushape-id">{{ pushapeIdLabel$ | async }}</span>
    </strong>
  </p>
  <p>
    Internal id:
    <strong>
      <span id="internal-id">{{ pushapeService.internalId || 'No internal id generated' }}</span>
    </strong>
  </p>
  <p>
    App id:
    <strong>
      <span id="app-id">{{ pushapeService.appId }}</span>
    </strong>
  </p>

  <div class="d-flex mb-2">
    <button
      *ngIf="!hasNotificationEnable"
      id="notification-btn"
      class="btn btn-primary mr-2"
      type="button"
      (click)="askNotificationPermissionHandler()">
      Enable notification
    </button>
  </div>

  <div class="d-flex">
    <button
      *ngIf="isPushapeSubscribe$ | async"
      id="unregister-btn"
      class="btn btn-outline-secondary mr-2"
      type="button"
      (click)="unregisterPushapeHandler()">
      Unregister Pushape
    </button>
    <button
      *ngIf="(isPushapeSubscribe$ | async) === undefined"
      id="register-btn"
      class="btn btn-outline-primary"
      type="button"
      (click)="registerPushapeHandler()">
      Register Pushape
    </button>
  </div>
</section>